.container{
   
    color: #7b1fa2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: rgb(220, 220, 220);
}
h1{
    font-family: cursive !important;
}

.buttonWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.buttonSignIn, .buttonSignUp{
    font-family: monospace;
    width: 124px;
    border: none;
    color: #7b1fa2;
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.buttonSignIn:hover , .buttonSignUp:hover {
    opacity: 0.9;
    
}

.horizontal-nav-list{
    display: flex;
    flex-direction: row;
}

.horizontal-nav-list mat-nav-list {
    display: flex;
    flex-direction: row;
  }
  
  .horizontal-item {
    display: inline-block;
    margin-right: 29px;
    margin-bottom: 16px;
    margin-top: 6px;
    margin-left: 37px;
  }

mat-toolbar{
    padding: 1;
    background-color: #424242;
    display: flex;
    justify-content: space-between;
    

}

mat-drawer-container{
    width: 250px;
    height: 250px;
    background-color: white;
    position: fixed;
    top: 111px;

}

.item:hover{
cursor: pointer;
background-color: whitesmoke;
}

  
.label{
    position: absolute;
    font-family: cursive;
}
 mat-icon{
    color:#7b1fa2
 }