.container{
    color: rgb(138, 43, 226);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: rgb(220, 220, 220);
}


.buttonWrapper {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1rem;
}

.buttonSignIn, .buttonSignUp{
    font-family: monospace;
    width: 124px;
    border: none;
    color: rgb(138, 43, 226);
    border-radius: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

.buttonSignIn:hover , .buttonSignUp:hover {
    text-decoration: underline;
}

