<div class="container">
 <mat-toolbar color="primary" class="mat-elevation-z8">
  <button>
    <mat-icon>menu</mat-icon>
  </button>

  <h1>Hello Learners! What do you want to learn?</h1>
  <button>
    <mat-icon>search</mat-icon>
  </button>

  <div class="buttonWrapper">
    <div class="signIn">
      <button class="buttonSignIn" (click)="openSignInModal()">Sign In</button><br>
    </div>
    <div class="signUp">
      <button class="buttonSignUp" (click)="openSignUpModal()">Sign Up</button>
    </div>  
  </div>

 </mat-toolbar>
  
</div>


<router-outlet></router-outlet>
