.formSignInWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    border: 2px solid #655c69;
    width: 350px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    display: flex;    flex-direction: column;
    background-color: #000000b5;

}
.buttonSignIn{
    font-family: monospace;
    color: #7b1fa2; 
    cursor: grab;
 }

 mat-icon{
    color: aliceblue;
 }