
<div class="formSignInWrapper">

<div class="form">
    <mat-form-field> 
        <mat-label>UserName</mat-label>  
        <input matInput placeholder="UserName" placeholder="UserName" [(ngModel)]="this.signInUsername">
        </mat-form-field>  
        
        <mat-form-field> 
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" [(ngModel)]="this.signInPassword" #passwordInput>
        <mat-icon matSuffix (click)="togglePasswordVisibility(passwordInput)">
            {{ hidePassword ? 'visibility_off' : 'visibility' }}
          </mat-icon>
        </mat-form-field>
        
        <button (click)="SignIn()">Sign In</button>
    </div>    

</div>



